<div class="wb-nav">
    <div class="wb-title">
        <a href="/" class="wb-t"> My Campus <span class="beta-tag"><em>BETA</em></span></a>
    </div>
    <div class="nav-items">
        <% if(!currentUser) { %>
            <button class="nav-item"><a href="#">Blog</a></button>
            <button class="nav-item"><a href="https://github.com/skarthikeyan96/my-campus">Github</a></button>
            <button class="nav-item"><a href="/user/login">Login</a></button>
            <%} else {%>
                <button class="nav-item"><%= currentUser.FullName %></button>
                <% if(currentUser.isStudent == true && currentUser.isAdmin == false){ %>
                    <button class="nav-item"><a href="/feed/view">Forum</a></button>
                    <button class="nav-item"><a href="/task/view">My Task</a></button>
                    <% } else{%>
                        <button class="nav-item"><a href="#">Dashboard</a></button>
                        <button class="nav-item"><a href="/task/create">Add Task</a></button>
                        <button class="nav-item"><a href="/announce/create">Add announcement</a></button>
                        <% } %>
                        <button class="nav-item"><a href="/resource/view">Resources</a></button>
                        <button class="nav-item"><a href="/announce/view">Important Announcement</a></button>
                        <button class="nav-item"><a href="#"> <%= currentUser.FullName %> </a></button>
                        <button class="nav-item"><a href="#">Notification</a></button>
                        <button class="nav-item"><a href="/user/logout"> Logout </a></button>
                        <% } %>
                    </div>
                </div>