<div class="wb-nav">
    <div class="wb-title"><span class="wb-t">
            <%= title %><span class="beta-tag"><em>BETA</em></div>
    <div class="nav-items">
        <button class="nav-item"><span><a href="#">Blog</a><span></button>
        <button class="nav-item"><span><a href="https://github.com/skarthikeyan96/my-campus">Github</a><span></button>
        <a href="/user/login" class="nav-item" id="wboard-start"><span>Login</span></a href="/user/login">
    </div>
</div>