<div class="wb-nav">
    <div class="wb-title">
        <a href="/" class="wb-t"> My Campus <span class="beta-tag"><em>BETA</em></span></a>
    </div>
    <div class="nav-items">
        <button class="nav-item"><a href="#">Blog</a></button>
        <button class="nav-item"><a href="https://github.com/skarthikeyan96/my-campus">Github</a></button>
        <button class="nav-item"><a href="/user/login">Login</a></button>
    </div>
</div>
