<!doctype html>
<html>

<head>
    <title>
        My Campus | Create Task
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2> Create Task</h2>
        <div class="">
            <form class="task-form" id="newTaskForm">

                <div class="form-item">
                    <label>Title</label>
                    <input type="text" id="nt_heading" placeholder="Title" autofocus required></input>
                </div>

                <div class="form-item">
                    <label>Description</i></label>
                    <textarea rows="10" cols="50" id="nt_description" placeholder="Enter the description of task" required></textarea>
                </div>

                <div class="form-item">
                    <label>Due Date</label>
                    <input type="Date" id="nt_deaddline" placeholder="Password" required></input>
                </div>

                <div class="form-item">
                    <Button class="btn btn-primary" type="submit"> Create</Button>
                </div>
            </form>
            <div class="feedback hidden" id="feedback_box"></div>
        </div>


    </div>

    <!-- Required Scripts -->
    <script src="/js/main.js"></script>
    <script src="/js/task.js"></script>
    <script>
        document.getElementById('newTaskForm').addEventListener('submit', e => createTask(e));
    </script>

</body>

</html>
