<!doctype html>
<html>
<head>
    <title><% title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
</head>

<body>
    <div class="main" id="main">
        <div class="wl-wrapper" id="wl_wrapper">

            <% include header.ejs %>

            <div class="content">
                <form class="login-form " id="signup_form">
                    <div class="pop-text">Sign up</div>

                    <div class="form-item">
                        <label><i class="fa fa-user"></i></label>
                        <input type="text" id="su_name" placeholder="Name" autofocus required></input>
                    </div>

                    <div class="form-item">
                        <label><i class="fa fa-envelope"></i></label>
                        <input type="email" id="su_email" placeholder="Email" required></input>
                    </div>

                    <div class="form-item">
                        <label><i class="fa fa-user"></i></label>
                        <input type="text" id="su_uname" placeholder="Username" required></input>
                    </div>

                    <div class="form-item">
                        <label><i class="fa fa-lock"></i></label>
                        <input type="password" id="su_pass" placeholder="Password" required></input>
                    </div>

                    <div class="form-item">
                        <label><i class="fa fa-cog"></i></label>
                        <select id="su_user_type">
                            <option value="">Select</option>
                            <option value="student">Student</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>

                    <div class="form-item">
                        <input id="signup_btn" type="submit" value="Sign-Up">
                    </div>
                </form>
                <div class="feedback hidden" id="feedback_box"></div>
            </div>
            <% include footer.ejs %>
        </div>

        <!-- Required Scripts -->
        <script src="/js/main.js"></script>
        <script>
            document.getElementById('signup_form').addEventListener('submit', e => makeSignup(e));
        </script>
    </body>
    </html>
